.signUp__Modal {
    max-height: 383px;
}

.signIn__Modal {
    width: 430px;
    height: 380px;
}

.modal__signUp {
    width: 358px;
    height: 20px;
    border: none;
    background-color: transparent;
    color: rgba(47,113,229,1);
    padding: 0;
}

.modal__signUp:hover {
    cursor: pointer;
}