.modal__signIn {
    width: 383px;
    height: 20px;
    border: none;
    background-color: transparent;
    color: rgba(47,113,229,1);
    padding: 0;
}

.modal__signIn:hover {
    cursor: pointer;
}