.saved-articles {
    padding: 40px 104px 56px;
    background-color: rgba(255,255,255,1);
  }
  
  .saved-articles__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .saved-articles__title {
    font-family: "Roboto400", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
  }
  
  .saved-articles__header {
    margin: 0;
    font-family: "Roboto400", sans-serif;
    font-size: 40px;
    line-height: 46px;
    color: rgba(26, 27, 34, 1);
  }
  
  .saved-articles__keywords_container {
    display: flex;
    align-items: center;
    font-family: "Roboto400", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 1);
    height: 24px;
  }
  
  .saved-articles__keywords_title {
    font-family: "Roboto400";
    font-weight: 400;
  }
  
  .saved-articles__keywords {
    margin-left: 3px;
    font-family: "Roboto700";
  }

  .Header--saved {
    background-color: rgba(255,255,255,1); 
  }

  @font-face {
    font-family: "Roboto400";
    src: local("Roboto400"), url(../../vendor/Fonts/roboto-400-regular.woff);
  }

  @font-face {
    font-family: "Roboto700";
    src: local("Roboto700"), url(../../vendor/Fonts/roboto-700.woff);
  }