.savedNews__newsCards {
    display: flex;
    flex-direction: column;
    background-color: #f5f6f7;
    padding: 62px 102px;
    margin-bottom: 40px;
  }
  
  .savedNews__newsCards_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 104px;
  }

  .newsCards__button {
    background-color: rgba(255,255,255,1);
    margin-top: 64px;
  }