.Header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: white;
  border-bottom: 1px solid grey;
  
}

.Header__title {
  width: 200px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "Roboto Slab", sans-serif;
  margin-left: 104px;
  margin-top: 30px;
}
.Header__buttons {
  margin-top: 19px;
  align-items: center;
}

.Home__button {
  background: none;
  color: white;
  border: none;
  width: 49px;
  height: 24px;
  padding: 0;
  margin-right: 42px;
  font-family: "Roboto Slab", sans-serif;
  
}

.Home__button:hover {
  cursor: pointer;
}

.Home__button-border-bottom {
  border-bottom: 1px solid rgba(255,255,255,1);
  border-width: medium;
  width: 68px;
  height: 3px;
}

.SignIn__button {
  background: none;
  color: white;
  border-radius: 25px;
  width: 176px;
  height: 48px;
  border: 1px solid white;
  padding: 0;
  margin-right: 104px;
  font-family: "Roboto Slab", sans-serif;
}
.SignIn__button:hover {
  cursor: pointer;
}

.Profile__logo {
  padding: 0;
  margin-right: 104px;
 
}
