.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  margin-top: 32px;
  margin-left: 104px;
  margin-bottom: 26px;
  color: rgba(182, 188, 191, 1);
  font-family: "Roboto400";
  font-size: 16px;
  line-height: 22px;
}

.footer__links {
  margin-right: 106px;
  display: flex;
  flex-direction: row;
}

.footer__links-description {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.footer__links_icons {
  flex-direction: row;
  display: flex;
  align-items: center;
  /* margin-right: 104px; */
}

.footer__link {
  list-style-type: none;
}

.footer__links_icon {
  list-style-type: none;

}

.footer__button_home {
  width: 49px;
  height: 24px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  margin-right: 40px;
  font-family: "Roboto400", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
}

.footer__button_home:hover {
  cursor: pointer;
}

.footer__link_tripleten {
  margin-right: 40px;
  font-family: "Roboto400", sans-serif;
  color: rgba(26, 27, 34, 1);
  line-height: 24px;
  font-size: 18px;
  text-decoration: none;
  border: none;
}

.footer__link_icon_github {
  border: none;
  width: 20px;
  height: 20px;
  margin-right: 24px;
  cursor: pointer;
}

.footer__link_icon_facebook {
  border: none;
  width: 20px;
  height: 20px;
}

.footer__button_facebook:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .footer {
    align-items: center;
  }

  .footer__text {
    margin-left: 40px;
  }

  .footer__links {
    margin-right: 20px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 74px;
  }

  .footer__link {
    flex-direction: column;
    display: flex;
    /* width: 200px; */
    height: 74px;
    list-style-type: none;
  }

  .footer__text {
    margin-left: 16px;
    margin-right: 16px;
  }

  .footer__links-description {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 74px;
  }

  .footer__links_icons {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: normal;
  }

  .footer__icon {
    list-style-type: none;
  }
}
