.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer__text {
    margin-top: 32px;
    margin-left: 104px;
    margin-bottom: 26px;
    color: rgba(182, 188, 191, 1);
    font-family: "Roboto400";
    font-size: 16px;
    line-height: 22px;
}

.footer__links {
    margin-right: 106px;
    display: flex;
    flex-direction: row;
}

.footer__button-home {
    width: 49px;
    height: 24px;
    border: none;
    background-color: rgba(255,255,255,1);
    margin-right: 40px;
    font-family: "Roboto400", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26,27,34,1);
}

.footer__button-home:hover {
    cursor: pointer;
}

.footer__button-tripleten {
    margin-right: 40px;
    font-family: "Roboto400", sans-serif;
    color: rgba(26,27,34,1);
    line-height: 24px;
    font-size: 18px;
    text-decoration: none;
    border:none;
}

.Footer-TripleTen__button {
    cursor: pointer;
}

.footer__button-github {
    
    border: none;
    width: 20px;
    height: 20px;
    margin-right: 24px;
}

.footer__button-github {
    cursor: pointer;
}

.footer__button-facebook {
    border: none;
    width: 20px;
    height: 20px;
}

.footer__button-facebook:hover {
    cursor: pointer;
}

@font-face {
    font-family: "Roboto400";
    src: local("Roboto400"), url(../../vendor/Fonts/roboto-400-regular.woff);
}

@media screen and (max-width: 770px) {
    .footer {
        align-items: center;
    }
    
    .footer__text {
        margin-left: 40px;
    }

    .footer__links {
        margin-right:20px;
       
    }
}

@media screen and (max-width: 320px) {
    .footer{
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .footer__links {
        display: flex;
        justify-content: space-between;
    }

    .footer__link{
        flex-direction: column;
        display: flex;
        width: 200px;
        height: 74px;
    }


    .footer__text {
        margin-left: 16px;
        margin-right: 16px;
    }

    .footer__button-home {
        margin: 0;
        padding: 0;
    }

    .footer__button-tripleten {
        margin: 0;
        padding: 0;
    }
}