.newsCards__section {
    display: flex;
    flex-direction: column;
    background-color: #f5f6f7;
    padding: 80px 104px;
}

.newsCards__title {
    font-family: "RobotoSlab400", sans-serif;
    font-size: 40px;
    line-height: 46px;
    
}

.newsCards__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 64px 0;
    max-width: 1440px;
}

.newsCards__button {
    font-family: "Roboto400", sans-serif;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    border: none;
    width: 288px;
    height: 64px;
    border-radius: 64px;
    background-color: rgba(255,255,255,1);
    margin: 0 auto;
}

.newsCards__button:hover {
    background-color: #e8e8e8;
}

@font-face {
    font-family: "Roboto400";
    src: local("Roboto400"), url(../../vendor/Fonts/roboto-400-regular.woff);
}

@font-face {
    font-family: "RobotoSlab400";
    src: local("RobotoSlab400"), url(../../vendor/Fonts/roboto-slab-400-regular.woff);
}

