.NewsCard {
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    width: 400px;
    height: 576px;
    position: relative;
  
  }
  
  .newsCard__keyword {
    background-color: white;
    padding: 8px 22px;
    text-align: center;
    font-family: "Roboto500", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: black;
    border-radius: 10px;
    position: absolute;
    top: 24px;
    left: 24px;
  }
  
  .newsCard__popup-text {
    background-color: white;
    padding: 8px 22px;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: 24px;
    right: 69px;
    font-family: "Roboto500", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
  }
  
  .newsCard__popup-text_hidden {
    display: none;
  }
  
  .newsCard__button-delete {
    /* background: url(../../images/card-delete.svg); */
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  
  .newsCard__button-delete:hover {
    
    cursor: pointer;
  }
  
  .newsCard__button-bookmark {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    background-image: url('../../images//bookmark-normal.svg');
  }

  .newsCard__button-bookmark:hover {
    background-image: url('../../images/bookmark-hover.svg');
  }

  .newsCard__button-bookmark-notSignedIn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    background-image: url("../../images/bookmark-normal.svg");
  }
  
  .newsCard__button-bookmark-notSignedIn:hover {
    background-image: url("../../images//bookmark-hover.svg");
  }
  
  .newsCard__button-bookmark_marked {
    background-image: url("../../images//bookmark-saved.svg");
  }
  
  .newsCard__image {
    width: 400px;
    height: 272px;
    margin-top: -20px;
    
  }
  
  .newsCard__text {
    text-align: left;
    margin: 0 24px;
  }
  
  .newsCard__date-published {
    font-family: "SourceSansPro400", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgba(182,188,191,1);
    margin-top: 17px;
  }
  
  .newsCard__title {
    font-family: "RobotoSlab400", sans-serif;
    font-size: 26px;
    line-height: 30px;
    color: black;
    margin-top: 15px;
 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .newsCard__content {
    font-family: "Roboto400", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: black;
    margin-top: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  
  .newsCard__source {
    font-family: "RobotoSlab700", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgba(182, 188, 191, 1);
    margin: 0 0 0 24px;
  }
  

 
  @media screen and (max-width: 1350px) {
    .newsCard {
      width: 224px;
      height: 420px;
    }

    .newsCard__title {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 10px
    }

    .newsCard__image {
      width: 224px;
      height: 150px;
      object-fit: cover;
    }

    .newsCard__keyword {
      left: 8px;
    }
  }

  @media screen and (max-width: 720px) {
    .newsCard {
      max-width: 288px;
      width: 100%;
      margin: auto;
    }

    .newsCard__image {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }

   
  }